{% assign achievements = site.data.data.achievements %}
{% if achievements %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-scroll fa-stack-1x fa-inverse"></i>
    </span>
    {{ achievements.title }}
  </h2>

  {% if achievements.intro %}
  <div class="intro">
      <p>{{ achievements.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for achievements in achievements.info %}
    <div class="item">

      <span class="project-title">
        {{ achievements.title }}:
      </span>

      {% if achievements.text %}
      <span class="talks-tagline">{{ achievements.text }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
