<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ sidebar.email }}">exponentialdecay.digipres</a>
    </li>
    {% endif %}

    {% if sidebar.linktree %}
    <li class="linktree"><i class="fas fa-globe"></i>
      <a href="https://linktr.ee/{{ sidebar.linktree }}" target="_blank">linktr.ee/{{ sidebar.linktree }}</a>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="http://{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ sidebar.github }}" target="_blank">{{ sidebar.github }}</a>
    </li>
    {% endif %}

    {% if sidebar.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://www.linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">Ross Spencer</a>
    </li>
    {% endif %}

    {% if sidebar.orcid %}
    <li class="orcid"><i class="fas fa-globe-asia"></i>
      <a href="https://orcid.org//{{ sidebar.orcid }}" target="_blank">ORCID:{{ sidebar.orcid }}</a>
    </li>
    {% endif %}

    <br/>
    <h2 class="container-block-title">Github Organizations</h2>

    {% if sidebar.github-1 %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ sidebar.github-1 }}" target="_blank">{{ sidebar.github-1 }}</a>
    </li>
    {% endif %}

    {% if sidebar.github-2 %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ sidebar.github-2 }}" target="_blank">{{ sidebar.github-2 }}</a>
    </li>
    {% endif %}

    {% if sidebar.github-3 %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ sidebar.github-3 }}" target="_blank">{{ sidebar.github-3 }}</a>
    </li>
    {% endif %}

    <br/>
    <h2 class="container-block-title">Blogs</h2>

    <!-- Static coded values below - we can improve on this if we can
         work out a better approach to the making the layout flexible.
    -->

    {% if sidebar.wordpress-1 %}
    <li class="wordpress"><i class="fab fa-wordpress"></i>
      <a href="http://exponentialdecay.co.uk/blog" target="_blank">{{ sidebar.wordpress-1 }}</a>
    </li>
    {% endif %}

    {% if sidebar.wordpress-2 %}
    <li class="wordpress"><i class="fab fa-wordpress"></i>
      <a href="https://openpreservation.org/author/ross-spencer/" target="_blank">{{ sidebar.wordpress-2 }}</a>
    </li>
    {% endif %}

    {% if sidebar.wordpress-3 %}
    <li class="wordpress"><i class="fab fa-wordpress"></i>
      <a href="https://blog.nationalarchives.gov.uk/author/rspencer/" target="_blank">{{ sidebar.wordpress-3 }}</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
